# --- Flask core ---
Flask==3.1.2
Flask-Cors==6.0.1
Flask-Bcrypt==1.0.1
Flask-Session==0.8.0

# --- Environment & server ---
python-dotenv==1.1.1
gunicorn==23.0.0

# --- Audio & Speech ---
gTTS==2.5.4
pydub==0.25.1
openai-whisper==20250625
SpeechRecognition==3.14.3

# --- Machine Learning / NLP ---
tensorflow==2.16.2
torch==2.8.0
scikit-learn==1.7.2
sentence-transformers==5.1.0
nltk==3.9.1
transformers==4.56.1
numpy==1.26.4
joblib==1.5.2

# --- Database ---
pymongo==4.15.1

# --- Utils ---
requests==2.32.5
regex==2025.9.1
pathlib==1.0.1
